body {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #43cea2, #185a9d);
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(90, 88, 86);
    padding: 10px 0;
    text-align: center;
}

nav a {
    font-size: 20px;
    color: white;
    margin: 0 5px;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s, border-color 0.3s;
}

nav a:hover {
    background-color: #c9c5c5f2;
}

section {
    scroll-margin-top: 50px;
    margin: 10px 0;
    padding: 15px 10px;
}

.container {
    width: 75%;
    max-width: 1200px;
}

.title {
    margin-top: 40px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    justify-content: center;
    text-align: center;
    background-color: rgb(210, 130, 56);
}

.list {
    display: inline-block;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
    background-color: rgb(210, 130, 56);
}

.btn {
    color: white;
    margin-top: 30px;
    background-color: #696363f2;
    padding: 15px 25px; 
    font-size: 18px; 
    border-radius: 8px; 
    cursor: pointer;
}

.content {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5;
}

.horizontally {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}

#topGap {
    margin-top: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}